In [6]:
import pandas as pd
import numpy as np
import random

In [77]:
#Emissions by gas (from ICPP)
C02 = 76
CH4 = 16
N02 = 6
FGAS = 2

#Emissions by sector (from ICPP)
electricity = 25
industry = 21
agriculture = 24
transport = 14
buildings = 6
other = 10

#Calculate bubble types based on total number of bubbles
nrBubblesTotal = 140

nrBubblesCH4 = int(nrBubblesTotal * CH4 / 100)
nrBubblesN02 = int(nrBubblesTotal * N02 / 100)
nrBubblesFGas = int(nrBubblesTotal * FGAS / 100)
nrBubblesC02 = int(nrBubblesTotal * C02 / 100)

nrBubbleElectricity = int(nrBubblesTotal * electricity / 100)
nrBubbleIndustry = int(nrBubblesTotal * industry / 100)
nrBubbleAgriculture = int(nrBubblesTotal * agriculture / 100)
nrBubbleTransport = int(nrBubblesTotal * transport / 100)
nrBubbleBuildings = int(nrBubblesTotal * buildings / 100)
nrBubbleOther = int(nrBubblesTotal * other / 100)

#create dataframe
df = pd.DataFrame("0", index=range(nrBubblesTotal), columns=["type", "sector"])

#fill dataframe

#type
index_global = 0
i = 0
while i < nrBubblesCH4:
    df.loc[index_global].type = "CH4"
    i += 1
    index_global += 1

i = 0
while i < nrBubblesN02:
    df.loc[index_global].type = "N02"
    i += 1
    index_global += 1

i = 0
while i < nrBubblesFGas:
    df.loc[index_global].type = "FGAS"
    i += 1
    index_global += 1

i = 0
while i < nrBubblesC02:
    df.loc[index_global].type = "C02"
    i += 1
    index_global += 1


#random shuffle
df = df.sample(frac=1).reset_index(drop=True)

#sector
index_global = 0
i = 0
while i < nrBubbleElectricity:
    df.loc[index_global].sector = "Electricity"
    i += 1
    index_global += 1

i = 0
while i < nrBubbleIndustry:
    df.loc[index_global].sector = "Industry"
    i += 1
    index_global += 1

i = 0
while i < nrBubbleAgriculture:
    df.loc[index_global].sector = "Agriculture"
    i += 1
    index_global += 1

i = 0
while i < nrBubbleTransport:
    df.loc[index_global].sector = "Transport"
    i += 1
    index_global += 1

i = 0
while i < nrBubbleBuildings:
    df.loc[index_global].sector = "Buildings"
    i += 1
    index_global += 1

i = 0
while i < nrBubbleOther:
    df.loc[index_global].sector = "Other"
    i += 1
    index_global += 1

df = df.drop(df[df.type == "0"].index)
df = df.drop(df[df.sector == "0"].index)

In [78]:
#clusters for initial animation
Positions = [0.2, 0.28, 0.4, 0.5, 0.62, 0.68, 0.8]
Positions = [0.2, 0.31, 0.41, 0.5, 0.59, 0.7, 0.8]
df['cluster1X'] = df.apply(lambda x: Positions[random.randint(0, 6)], axis=1)
df['cluster1Y'] = df.apply(lambda x: Positions[random.randint(0, 6)], axis=1)

In [79]:
df

    type       sector  cluster1X  cluster1Y
0    C02  Electricity       0.80       0.20
1    C02  Electricity       0.59       0.31
2    N02  Electricity       0.70       0.50
3    C02  Electricity       0.80       0.59
4    C02  Electricity       0.41       0.80
..   ...          ...        ...        ...
133  CH4        Other       0.50       0.59
134  C02        Other       0.50       0.20
135  C02        Other       0.41       0.50
136  CH4        Other       0.31       0.70
137  C02        Other       0.20       0.20

[136 rows x 4 columns]

In [80]:
#save as a new csv file
df.to_csv("./bubble_objects.csv")